{% extends "layout.html" %}{% load static %}

{% block javascripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "django_secrets/js/clipboard.min.js" %}"></script>
    <script type="text/javascript" src="{% static "django_secrets/js/secrets.js" %}"></script>
{% endblock %}

{% block header %}
    <div class="row">
        <div class="column large-12 text-center">
            <h3>Share encrypted messages easily, they last 10 minutes.</h3>
        </div>
    </div>
{% endblock %}
