{% extends "django_secrets/layout.html" %}

{% block main %}
<div class="row">
    <div class="column large-centered large-8">
        <fieldset>
            <legend>Here's the secret</legend>
            <textarea id="secret" rows="6" cols="100" readonly>{{ object.decrypted_data }}</textarea>
        </fieldset>
        <button class="button" data-clipboard-target="#secret">Copy to clipboard</button>
        <a class="button success" href="{% url "secrets:secret-create" %}">Create a secret</a>
    </div>
</div>
{% endblock %}
