{% extends "django_secrets/layout.html" %}{% load crispy_forms_tags %}

{% block main %}
<div class="row">
    <div class="column large-centered large-8">
        <form action="{% url "secrets:secret-update" object.oid %}" method="post">
            <fieldset>
                <legend>View this secret</legend>
                {% csrf_token %}
                <!-- http://www.technowise.in/2012/08/disable-autocomplete-saved-password-in.html -->
                <input style="display:none" type="password" name="autocomplete_off" value="">
                {{ form|crispy }}
            </fieldset>
            <input class="button success" type="submit" value="View secret" />
        </form>

        <fieldset>
            <legend>Share this secret</legend>
            <input name="share" id="share" type="text" value="{{ request.build_absolute_uri }}" readonly>
        </fieldset>
        <button class="button" data-clipboard-target="#share">Copy to clipboard</button>
    </div>
</div>
{% endblock %}
