.browsehappy {
    border: none;
    margin-bottom: 0px;
}

.hint {
    color: #ec5840;
    margin-bottom: 1rem;
}

section[role=main] {
    margin-top: 1.125rem;
}

footer {
    color: #999;
    text-align: center;
    margin-top: 1.125rem;
}

footer a:link,
footer a:focus,
footer a:visited,
footer a:active {
    text-decoration: underline;
    color: #888;
}

.top-bar, .top-bar ul, .title-bar {
    background:#417690;
}

.top-bar .menu-text a {
    color:#F4F379;
}
.menu > li > a {
    color: #FFF;
}

header[role=banner] {
    margin-top: 3.375rem;
    margin-bottom: 2.250rem;
}
