.top-bar {
    margin-bottom: 2.250rem;
    background: #417690;
    color: #FFC;
}

.top-bar h1, .top-bar h1 a:link, .top-bar h1 a:visited {
    color: #F4F379;
}

.browsehappy {
    border: none;
    margin-bottom: 0px;
}

.hint {
    color: red;
}

section[role=main] {
    margin-top: 1.125rem;
}

footer {
    color: #CCC;
}

footer a:link,
footer a:focus,
footer a:visited,
footer a:active {
    color: #888;
}
