.top-bar {
    margin-bottom: 1em;
    background: #417690;
    color: #FFC;
}

.top-bar h1, .top-bar h1 a:link, .top-bar h1 a:visited {
    color: #F4F379;
}

.browsehappy {
    border: none;
    margin-bottom: 0px;
}

.hint {
    color: red;
}

section[role=main] {
    margin-top: 1em;
}

footer[role=contentinfo] {
    color: #CCC;
}

footer[role=contentinfo] a:link,
footer[role=contentinfo] a:focus,
footer[role=contentinfo] a:visited,
footer[role=contentinfo] a:active {
    color: #888;
}
