{% load staticfiles %}
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ten minute secret{% endblock %}</title>
    <meta name="description" content="Keep sensitive info out of your email and chat logs">
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{% static "css/normalize.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/foundation.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/website.css" %}">
        <script type="text/javascript" src="{% static "js/vendor/modernizr.js" %}"></script>
    {% endblock %}
</head>
<body>
    {% block browsehappy %}
    <!--[if lt IE 8]>
    <div id="browsehappy">
        <p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    </div>
    <![endif]-->
    {% endblock %}

    {% block navigation_wrapper %}
    <nav class="top-bar" data-topbar="">
        {% block navigation %}
        <ul class="title-area">
            <li class="name">
                <h1><a href="/">ten minute secret</a></h1>
            </li>
        </ul>
        <section class="top-bar-section">
            <ul class="left"></ul>
            <ul class="right"></ul>
        </section>
        {% endblock %}
    </nav>
    {% endblock %}

    {% block header_wrapper %}
    <header role="banner">
        {% block header %}{% endblock %}
    </header>
    {% endblock %}

    {% block main_wrapper %}
    <section role="main">{% block main %}{% endblock %}</section>
    {% endblock %}

    {% block footer_wrapper %}
    <footer role="contentinfo">
        {% block footer %}
            <div class="row">
                <div class="column large-12">
                    <p>
                        <small>
                            Copyright &copy; <time datetime="{% now "Y" %}">{% now "Y" %}</time> Enrico Foltran.
                        </small>
                    </p>
                </div>
            </div>
        {% endblock %}
    </footer>
    {% endblock %}

    {% block javascripts %}
        <script type="text/javascript" src="{% static "js/vendor/jquery.js" %}"></script>
        <script type="text/javascript" src="{% static "js/vendor/fastclick.js" %}"></script>
        <script type="text/javascript" src="{% static "js/foundation.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/website.js" %}"></script>
    {% endblock %}
</body>
</html>
