{% extends "layout.html" %}

{% block main %}
    <div class="row">
        <div class="column large-centered large-8">
            <h3>Terms of Service ("Terms")</h3>
            <p><b>Last updated: October 30, 2015</b></p>
            <p>
                Please read these Terms of Service ("Terms", "Terms of Service") carefully
                before using the ten minute secret website (the "Service").
            </p>
            <p>
                Your access to and use of the Service is conditioned upon your acceptance of
                and compliance with these Terms. These Terms apply to all visitors, users
                and others who wish to access or use the Service.
            </p>
            <p>
                By accessing or using the Service you agree to be bound by these Terms. If
                you disagree with any part of the terms then you do not have permission to
                access the Service.
            </p>

            <h4>Content</h4>
            <p>
                Our Service allows you to post, link, store, share and otherwise make available
                certain information, text, graphics, videos, or other material ("Content").
                You are responsible for the Content that you post on or through the Service,
                including its legality, reliability, and appropriateness.
            </p>
            <p>
                By posting Content on or through the Service, You represent and warrant that:
                (i) the Content is yours (you own it) and/or you have the right to use it and
                the right to grant us the rights and license as provided in these Terms, and
                (ii) that the posting of your Content on or through the Service does not violate
                the privacy rights, publicity rights, copyrights, contract rights or any other
                rights of any person or entity. We reserve the right to terminate the account
                of anyone found to be infringing on a copyright.
            </p>
            <p>
                You retain any and all of your rights to any Content you submit, post or display
                on or through the Service and you are responsible for protecting those rights.
                We take no responsibility and assume no liability for Content you or any third
                party posts on or through the Service.
            </p>
            <p>
                You agree to accept responsibility for any and all activities or actions you do using ten minute secret.
            </p>
            <p>
                We reserve the right to refuse service or remove content in our sole discretion.
            </p>

            <h4>Copyright Policy</h4>
            <p>
                We respect the intellectual property rights of others. It is our policy
                to respond to any claim that Content posted on the Service infringes on
                the copyright or other intellectual property rights ("Infringement") of
                any person or entity.
            </p>
            <p>
                If you are a copyright owner, or authorized on behalf of one, and you believe
                that the copyrighted work has been copied in a way that constitutes copyright
                infringement, please submit your claim via email to enrico@foltran.xyz, with the
                subject line: "Copyright Infringement" and include in your claim a detailed
                description of the alleged Infringement.
            </p>
            <p>
                You may be held accountable for damages (including costs and attorneys' fees)
                for misrepresentation or bad-faith claims on the infringement of any Content
                found on and/or through the Service on your copyright.
            </p>

            <h4>Links To Other Web Sites</h4>
            <p>
                Our Service may contain links to third party web sites or services that
                are not owned or controlled by ten minute secret.
            </p>
            <p>
                ten minute secret has no control over, and assumes no responsibility for the content,
                privacy policies, or practices of any third party web sites or services.
                We do not warrant the offerings of any of these entities/individuals or their websites.
            </p>
            <p>
                You acknowledge and agree that ten minute secret shall not be responsible or liable,
                directly or indirectly, for any damage or loss caused or alleged to be caused
                by or in connection with use of or reliance on any such content, goods or
                services available on or through any such third party web sites or services.
            </p>
            <p>
                We strongly advise you to read the terms and conditions and privacy policies
                of any third party web sites or services that you visit.
            </p>

            <h4>Termination</h4>
            <p>
                We may terminate or suspend your account and ban access to the Service immediately,
                without prior notice or liability, under our sole discretion, for any reason
                whatsoever and without limitation, including but not limited to a breach of the Terms.
            </p>
            <p>
                If you wish to terminate your account, you may simply discontinue using the Service.
            </p>
            <p>
                All provisions of the Terms which by their nature should survive termination
                shall survive termination, including, without limitation, ownership provisions,
                warranty disclaimers, indemnity and limitations of liability.
            </p>

            <h4>Indemnification</h4>
            <p>
                You agree to defend, indemnify and hold harmless ten minute secret and its licensee
                and licensors, and their employees, contractors, agents, officers and directors,
                from and against any and all claims, damages, obligations, losses, liabilities,
                costs or debt, and expenses (including but not limited to attorney's fees),
                resulting from or arising out of a) your use and access of the Service, by
                you or any person using your account and password; b) a breach of these
                Terms, or c) Content posted on the Service.
            </p>

            <h4>Limitation Of Liability</h4>
            <p>
                In no event shall ten minute secret, nor its directors, employees, partners, agents,
                suppliers, or affiliates, be liable for any indirect, incidental, special,
                consequential or punitive damages, including without limitation, loss of
                profits, data, use, goodwill, or other intangible losses, resulting from
                (i) your access to or use of or inability to access or use the Service;
                (ii) any conduct or content of any third party on the Service;
                (iii) any content obtained from the Service; and
                (iv) unauthorized access, use or alteration of your transmissions or content,
                whether based on warranty, contract, tort (including negligence) or any
                other legal theory, whether or not we have been informed of the possibility
                of such damage, and even if a remedy set forth herein is found to have failed
                of its essential purpose.
            </p>

            <h4>Disclaimer</h4>
            <p>
                Your use of the Service is at your sole risk. The Service is provided on
                an "AS IS" and "AS AVAILABLE" basis. The Service is provided without
                warranties of any kind, whether express or implied, including, but not
                limited to, implied warranties of merchantability, fitness for a particular
                purpose, non-infringement or course of performance.
            </p>
            <p>
                ten minute secret its subsidiaries, affiliates, and its licensors do not warrant that
                a) the Service will function uninterrupted, secure or available at any particular
                time or location; b) any errors or defects will be corrected; c) the Service
                is free of viruses or other harmful components; or d) the results of using
                the Service will meet your requirements.
            </p>

            <h4>Exclusions</h4>
            <p>
                Some jurisdictions do not allow the exclusion of certain warranties or
                the exclusion or limitation of liability for consequential or incidental
                damages, so the limitations above may not apply to you.
            </p>

            <h4>Governing Law</h4>
            <p>
                Our failure to enforce any right or provision of these Terms will not be
                considered a waiver of those rights. If any provision of these Terms is
                held to be invalid or unenforceable by a court, the remaining provisions
                of these Terms will remain in effect. These Terms constitute the entire
                agreement between us regarding our Service, and supersede and replace any
                prior agreements we might have had between us regarding the Service.
            </p>

            <h4>Changes</h4>
            <p>
                We reserve the right, at our sole discretion, to modify or replace these
                Terms at any time. If a revision is material we will provide at least 30
                days notice prior to any new terms taking effect. What constitutes a material
                change will be determined at our sole discretion.
            </p>
            <p>
                By continuing to access or use our Service after any revisions become effective,
                you agree to be bound by the revised terms. If you do not agree to the new
                terms, you are no longer authorized to use the Service.
            </p>

            <h4>Contact Us</h4>
            <p>
                If you have any questions about these Terms, please contact us at enrico@foltran.xyz.
            </p>
        </div>
    </div>
{% endblock %}
