{% extends "layout.html" %}{% load crispy_forms_tags %}

{% block main %}
<div class="row">
    <div class="column large-12">
        <form action="{% url "secrets:secret-update" object.oid %}" method="post">
            <fieldset>
                <legend>This secret requires a passphrase</legend>
                {% csrf_token %}
                {{ form|crispy }}
            </fieldset>
            <input class="button success" type="submit" value="View secret" />
            <input class="button secondary" type="reset" value="Cancel" />
        </form>
    </div>
</div>
{% endblock %}
