{% extends "secrets/layout.html" %}{% load crispy_forms_tags %}

{% block main %}
<div class="row">
    <div class="column large-centered large-8">
        <form action="{% url "secrets:secret-create" %}" method="post">
            <fieldset>
            <legend>Paste a password, secret message or private link below</legend>
                {% csrf_token %}
                {{ form|crispy }}
            </fieldset>
            <input class="button success" type="submit" value="Create a secret" />
        </form>
    </div>
</div>
{% endblock %}
